# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
ENV/
.env
.env.*

# Alembic
# alembic/versions/

# IDE
.vscode/
.idea/
*.swp

# SQLite databases
*.db
*.db-journal
*.db-shm
*.db-wal
*.db.backup
optin_manager.db*
